@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
      
* {
    margin: 0px;
    padding: 0px;
}
      
body {
    background-color: #bff2f0;
    color: #000c47;
    font-family: "IBM Plex Sans";
    font-size: 13pt;
}
      
#menu {
    margin-top: -10px;
    width: 100%;
    height: 70px;
    background: #ebf0f9;
}
      
#navbar {
    margin-left: 7%;
    font-size: 75%;
    margin-top: 2.5%;
    float: left;
    line-height: 30px;
    width: 30%;
}

#userName{
    font-size: 15px;
    margin-top: 0;
}
      
#userCity {
    font-weight: bold;
}
      
#navbar > p {
    text-align: center;
    font-family: "IBM Plex Sans";
    width: 200px;
}
      
#cityname {        
    list-style: none;
    float: left;
    margin-left: -20%;
    line-height: 80px;
    text-align: center;  
}


li > a {
    display: block;
    color: #000c47;
    text-align: center;
    text-decoration: none;
}

li > a:hover{
    color: #0baef4;
}
      
    
#logo {
    margin-left: 2%;
    line-height: 110px;
    width: 30%;
    margin-top: -8px;
    float: left; 
}
      
#logosize {        
    width: 100%;
}
      
#gamediv {
    width: 100%;
    z-index: -1;
    margin: 0 auto;
    margin-top: -170px;
}
      
canvas {        
    margin: 0 auto;
    display: block;
    width: 100%;
    height:100%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    z-index: -1;
    filter: blur(3px);    
}
      
#bottomdiv {
    text-align: center;
    bottom: 0;
    height: 5%;
    position: fixed;
    width: 100%;
    background-color: #ebf0f9;
    text-align: center;
} 


#newGame{
    float:left;
  
}

#aboutlink {
    float: right;
}

#login {
    border: 10px solid #d4d9e9;
    position: relative;
    margin: 0 auto;
    top: 110px;
    border-radius: 20px;
    text-align: center;
    display: block;
    width: 300px;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    padding: 8px;
    /*box-shadow: 0px 7px 10px #000c47;*/
}

#login input {
	font-size: 14pt;
	border-radius: 10px;
    border: none;

    width: 90%;
    margin-bottom: 3%;
}

#login button {
  margin-top: 2%;
  margin-left: -1px;
  background-color: #ebf0f9;
  border: none;
  box-shadow: none;
}

#submit {
    margin-left: 25%;
}
#userCity{
  font-size: 200%;
}
     
#about {
    display: none;
    margin: 0 auto;
    border: 10px solid #d4d9e9;
    border-radius: 20px;
    position: relative;
    width: 98%;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    padding: 0% 3%;
}
#about h2 {
  text-align: center;
}
#option {
    display: none;
    margin: 0 auto;
    border: 10px solid #d4d9e9;
    border-radius: 20px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%,50%);
    width: 300px;
    background-color: #ebf0f9;
    z-index: 1;
}
#picsOfUs {
text-align: center;
}
#picsOfUs img {
	width: 30%;
    height: auto;
}

#scores {
    margin: 0 auto;
    border: 10px solid #d4d9e9;
    border-radius: 20px;
    text-align: center;
    line-height: 25px;
    position: relative;
    display: none;
    width: 50%;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    height: 450px;
}


#guy {
  margin-top: -20px;
  float: left;
  background-color: #bff2f0;
  padding: 0;
  border: 0;

}
.progress {
  width: 80%;
  float: right;
  margin-right: 2%;
  padding: 0;
  margin-top: 2%;
}
#inner {
  background-color: #0baef4;
}

a:hover {
    text-decoration: unset;
    color: #66ff99;
    cursor: pointer;
}

a {
    color: #0baef4;
}