@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
      
      * {
        margin: 0px;
        padding: 0px;
      }
      
      body {
        /**background-color: #e6e6e6; */
        background-color: #bff2f0;
      }
      
      #menu {
        width: 100%;
        height: 80px;
        background: #ebf0f9;
      }
      
      #navbar {
        height: 15%;
        margin-top: 2.5%;
        float: left;

        line-height: 30px;
      }

      #userName{
        font-size: 15px;

        margin-top: 0;

      }
      
      #userCity {
        font-weight: bold;

      }
      
      #navbar > p {
        text-align: center;
        font-family: "IBM Plex Sans";
        width: 200px;
      }
      
      #cityname {
        width: 100px;
        list-style: none;
        float: left;
        margin-left: -20%;
      }
      
      #cityname {
        line-height: 80px;
        text-align: center;
        width: 100%;
      }
      
      li > a {
        color: black;
        line-height: 80px;
        text-align: center;
      }
      
    
      #logo {
        width: 200px;
        height: 90px;
        float: left; 
      }
      
      #logosize {
        padding-left: 50px;
        width: 49%;
      }
      
      #gamediv {
        height: 500px;
         z-index: -1;
        margin-top: -100px;
      }
      
      #gamediv > img{
        
        display: block;
        width: 100%;
        height: 100%;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        z-index: -1;
        filter: blur(3px);
        
      }
      
      #bottomdiv {
        bottom: 0;
        height: 50px;
        position: fixed;
        width: 100%;
        background-color: #ebf0f9;
      } 
      
      #bottomdiv > img {
        width: 20%;  
        
      }
      
      #bottombar {
        height: 15%; 
        float: left;
      }
      
      #bottombar > li {
        display: inline-block;
        font-family: "IBM Plex Sans";
        font-weight: bold;
        width: 100px;
        list-style: none;
        float: left;
      }
      
      li > a {
        display: block;
        color: black;
        line-height: 80px;
        text-align: center;
        text-decoration: none;
      }
      
      li > a:hover{
        background-color: #000c47;
        color: white;
      }
      #waterLevel {
        margin-top: 1.3%;
        display: block;
        float: right;
      }
#waterLevel img {
  width: 50px;
}
      
#newGame {
  font-family: "IBM Plex Sans";
}

#about {
  line-height: 80px;
  font-family: "IBM Plex Sans";
  float: right;
  height: 100px;
}

#about > a {
  text-decoration: none;
  color: black;
}

#about > a:hover{
        background-color: #000c47;
        color: white;
      }
      #login {
        text-align: center;
        top: 150px;
        position: relative;
     	display: block;
        width: 100%;
        background-color: #ebf0f9;
        z-index: 1;
      }
#login button {
  margin-left: -13px;
  background-color: #ebf0f9;
  border: none;
  box-shadow: none;
}

#submit {
    margin-left: 25%;
}
      
      