@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
      
* {
    margin: 0px;
    padding: 0px;
}
      
body {
    background-color: #bff2f0;
    color: #000c47;
    font-family: "IBM Plex Sans";
    font-size: 13pt;
}
      
#menu {
    width: 100%;
    height: 80px;
    background: #ebf0f9;
}
      
#navbar {
    margin-left: 7%;
    font-size: 75%;
    margin-top: 2.5%;
    float: left;
    line-height: 30px;
    width: 30%;
}

#userName{
    font-size: 15px;
    margin-top: 0;
}
      
#userCity {
    font-weight: bold;
}
      
#navbar > p {
    text-align: center;
    font-family: "IBM Plex Sans";
    width: 200px;
}
      
#cityname {        
    list-style: none;
    float: left;
    margin-left: -20%;
}
      
#cityname {
    line-height: 80px;
    text-align: center;  
}

li > a {
    display: block;
    color: #000c47;
    text-align: center;
    text-decoration: none;
}

li > a:hover{
    color: #0baef4;
}
      
    
#logo {
    margin-left: 2%;
    line-height: 110px;
    width: 30%;
    float: left; 
}
      
#logosize {        
    width: 100%;
}
      
#gamediv {
    height: 550px;
    z-index: -1;
    margin-top: -180px;
}
      
canvas {        
    display: block;
    width: 100%;
    height: 100%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    z-index: -1;
    filter: blur(3px);    
}
      
#bottomdiv {
    bottom: 0;
    height: 9%;
    position: fixed;
    width: 100%;
    background-color: #ebf0f9;
} 
      
#bottomdiv > img {
    width: 20%;      
}
      
#bottombar {
    float: left;
}
      
#bottombar > li {
    float: left;
}
      


#aboutlink {
  float: right;
}


#login {
    margin: 0 auto;
    border: 10px solid #d4d9e9;
    border-radius: 20px;
    text-align: center;
    top: 150px;
    position: relative;
    display: block;
    width: 300px;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    padding: 8px;
}

#login input {
	font-size: 14pt;
	border-radius: 10px;
    border: none;

    width: 90%;
    margin-bottom: 3%;
}

#login button {
  margin-top: 2%;
  margin-left: -1px;
  background-color: #ebf0f9;
  border: none;
  box-shadow: none;
}

#submit {
    margin-left: 25%;
}
#userCity{
  font-size: 200%;
}
     
#about {
    display: none;
    margin: 0 auto;
    border: 3px solid #000c47;
    line-height: 25px;
    position: relative;
    width: 100%;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
}
#about h2 {
  text-align: center;
}

#picsOfUs {
text-align: center;
}
#picsOfUs img {
	width: 30%;
	height: auto;
}

#scores {
    margin: 0 auto;
    border: 10px solid #d4d9e9;
    border-radius: 20px;
    text-align: center;
    top: 150px;
    line-height: 25px;
    position: relative;
    display: none;
    width: 50%;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
}

#highscores {
    float: left;
}

#newGame {
    float:left;
}
#guy {
  float: left;
  background-color: #bff2f0;
  padding: 0;
  border: 0;

}
.progress {
  width: 80%;
  float: right;
  margin-right: 2%;
  padding: 0;
  margin-top: 2%;
}
#inner {
  background-color: #0baef4;
}

a:hover {
    text-decoration: unset;
}
