@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
      
      * {
        margin: 0px;
        padding: 0px;
      }
      
      body {
        /**background-color: #e6e6e6; */
        background-color: #e7f7fe;
      }
      
      #menu {
        width: 100%;
        height: 80px;
        background: #f0f1ee;
        box-shadow: 0px 2px 10px #000c47;
      }
      
      #navbar {
        height: 15%; 
        float: left;
      }
      
      #navbar > li {
        line-height: 80px;
        text-align: center;
        font-family: "IBM Plex Sans";
        font-weight: bold;
        width: 100px;
        list-style: none;
        float: left;
      }
      
      #cityname {
        display: block;
        line-height: 80px;
        text-align: center;
      }
      
      li > a {
        display: block;
        color: black;
        line-height: 80px;
        text-align: center;
        text-decoration: none;
      }
      
      li > a:hover{
        background-color: #000c47;
        color: white;
      }
      
    
      #logo {
        width: 200px;
        height: 90px;
        float: left; 
      }
      
      #logosize {
        padding-left: 50px;
        width: 49%;
      }
      
      #gamediv {
        margin-top: 4%;
        height: 500px;
         
      }
      
      #gamediv > img{
        width: 100%;
        height: 100%;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        z-index: -100;
      }
      
      #bottomdiv {
        bottom: 0;
        height: 100px;
        position: fixed;
        width: 100%;
        background-color: #f0f1ee;
        box-shadow: 0px -2px 5px #000c47;
      } 
      
      #bottomdiv > img {
        width: 20%;  
      }
      
      #bottombar {
        height: 15%; 
        float: left;
      }
      
      #bottombar > li {
        font-family: "IBM Plex Sans";
        font-weight: bold;
        width: 100px;
        list-style: none;
        float: left;
      }
      
      li > a {
        display: block;
        color: black;
        line-height: 80px;
        text-align: center;
        text-decoration: none;
      }
      
      li > a:hover{
        background-color: #000c47;
        color: white;
      }
      #waterLevel {
        margin-top: 1.3%;
        display: block;
        float: right;
      }
      
      #login {
     	display: block;
      }
      
      