@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
      
* {
    margin: 0px;
    padding: 0px;
}
      
body {
    background-color: #bff2f0;
    color: #000c47;
    font-family: "IBM Plex Sans";
    font-size: 13pt;
}
      
#menu {
    margin-top: -10px;
    margin-bottom: -100px;
    width: 100%;
    height: 70px;
    background: #ebf0f9;
}
      
#navbar {

    margin-left: 5px;
    font-size: 50%;
    margin-top: 15px;
    float: left;
    line-height: 20px;
    width: 30%;
    position: relative;
}

#userName{
    text-align: center;
    font-size: 15px;
    margin-top: 0;
}
      
#userCity {
    text-align: center;
    font-weight: bold;
}

#days {
    text-align: center;
    float: right;
    width: 30%;
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
    margin-right: -20px;
}

      
#navbar > p {
    font-family: "IBM Plex Sans";
    width: 200px;
}
      
#cityname {        
    list-style: none;
    float: left;
    margin-left: -20%;
    line-height: 80px;
    text-align: center;  
}


li > a {
    display: block;
    color: #000c47;
    text-align: center;
    text-decoration: none;
}

li > a:hover{
    color: #0baef4;
}
      
    
#logo {
    margin-left: 2%;
    line-height: 110px;
    width: 25%;
    margin-top: -8px;
    float: left; 
}
      
#logosize {   
    position: relative;     
    width: 100%;
    margin-top: -10px;
}

#score {
    margin-top: -20px;
    float: left;
    text-align: center;
    width: 100%;
    font-family: "IBM Plex Sans";
    font-size: 100%;
    /*overflow: hidden;*/
}

#score p {
    margin: 0;
    padding: 0;
}
      
#gamediv {
    width: 100%;
    z-index: -1;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    
    
}
      
canvas {        
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 375px;
    border-top: 10px solid #d4d9e9;
    border-bottom: 10px solid #d4d9e9;
    z-index: -1;
    filter: blur(3px);    
}
      
#bottomdiv {
    text-align: center;
    bottom: 0;
    height: 5%;
    position: fixed;
    width: 100%;
    background-color: #ebf0f9;
    text-align: center;
} 


#newGame{
    float:left;
  
}

#aboutlink {
    float: right;
}

#startGame {
    border: 10px solid #d4d9e9;
    position: absolute;
    margin: 0 auto;
    bottom:50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    text-align: center;
    width: 300px;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    padding: 8px;
    font-size: 10pt;
}

#noDays {
    display: none;
    border: 10px solid #d4d9e9;
    position: absolute;
    margin: 0 auto;
    bottom:50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    text-align: center;
    width: 300px;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    padding: 8px;
    font-size: 10pt;
}

#login {
    border: 10px solid #d4d9e9;
    position: absolute;
    bottom:50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    text-align: center;
    display: block;
    width: 300px;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    /*padding: 8px;*/
    font-size: 11pt;
}

#login input {
	font-size: 14pt;
	border-radius: 10px;
    border: none;

    width: 90%;
    margin-bottom: 3%;
}

#login form {
    margin-top:8%;
}
#login button {
  margin-top: 2%;
  margin-left: -1px;
  background-color: #ebf0f9;
  border: none;
  box-shadow: none;
}

#submit {
    margin-left: 25%;
}
#userCity{
  font-size: 200%;
}
     
#about {
    display: none;
    margin: 0 auto;
    border: 10px solid #d4d9e9;
    border-radius: 20px;
    position: relative;
    width: 98%;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    padding: 0% 3%;
}
#about h2 {
  text-align: center;
}
#option {
    text-align: center;
    display: block;
    border: 10px solid #d4d9e9;
    border-radius: 20px;
    position: absolute;
    margin: 0 auto;
    bottom:50%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 350px;
    height: 330px;
    background-color: #ebf0f9;
    z-index: 1;
    font-size: 10pt;
    overflow: scroll;
}

#option button:hover {
    color: #000c47;
    background-color: #66ff99;
}


.optionButton {
    background-color: #0baef4;
    border-radius: 20px;
    width: 80%;
}

.moreButton {
    background-color: #0baef4;
    border-radius: 20px;
    float: right;
    width: 20%;
}

#option button {
    font-size: 10.7pt;
    height: 32px;
    margin-bottom: 7px;
}
#opimg {
    margin-left: -43px;

}

#optionExit {
    height: 40px;
    float: left;
    padding: 3px;
}

#decision {
    text-align: left;
}

#decision > p {
    text-align: center;
}

#optionExit {
    position: relative;
}
 
#picsOfUs {
text-align: center;
}
#picsOfUs img {
	width: 30%;
    height: auto;
}

#scores {
    margin: 0 auto;
    border: 10px solid #d4d9e9;
    border-radius: 20px;
    text-align: center;
    line-height: 25px;
    position: relative;
    display: none;
    width: 50%;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    height: 450px;
}


#guy {
    margin-top: -25px;
  background-color: #bff2f0;
  padding: 0;
  border: 0;
  float: left;
}

.progress {
    float: right;
  width: 90%;
  margin-right: -10px;

}
#inner {
  background-color: #0baef4;
}

a:hover {
    text-decoration: unset;
    color: #66ff99;
    cursor: pointer;
}

a {
    color: #0baef4;
}

#endGame {
    text-align: center;
    top: 90px;
    display: none;
    margin: 0 auto;
    font-family:  "IBM Plex Sans";
    border: 10px solid #d4d9e9;
    border-radius: 20px;
    position: relative;
    width: 400px;
    background-color: #ebf0f9;
    z-index: 1;
    clear: left;
    padding: 0% 3%;
}

#youWin {
    width: 100%;
    font-weight: bold;
    font-size: 200%;
    color: #000c47;
}

#youLose {
    width: 100%;
    font-weight: bold;
    font-size: 200%;
    color: #000c47;
}

#endLogo {
  width: 100px;  
}

#description1 {
    display: none;
}
#description2 {
    display: none;
}
#description3 {
    display: none;
}

#dropBar {
    margin: 0 auto;
    margin-top: 115px;
    width: 90%;
    height: 50px;
}

#drop {
    width: 60px;
    float: left;
    clear: both;
    margin-right: 0%;
    margin-left: -20px;
    margin-top: -20px;
    padding-right: 0%;
}


